#canvas{
    width: 100%;
}

#canvas_split{
    width: 100%;
    position:absolute;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
}

#canvas_part_2{
    position:relative;
}

#webcam{
    width: 100%;
    position:absolute;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
    height: 90vh
}